{% extends "base.html" %}
{% block title %}Portal{% endblock %}
{% block h4 %}Portal{% endblock %}
{% block content %}


<div class="container" style="padding: 2rem;">

  <h4>Available Course</h4>
  <ul>
    <a href="{{ url_for('mainframe.pocus0')}}">POCUS for Beginner Lectures</a>
  </ul>



</div>
{% endblock %}
{% block scripts%}
{{ super() }}
<script>
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  })
  var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
    trigger: 'focus'
  })
</script>
<script>
  $(document).ready(function () {
    $("#loading").hide();
  });
</script>
<script type="text/javascript">// <![CDATA[
  function loading() {
    $("#loading").show();
  }
// ]]></script>
{% endblock %}