<!DOCTYPE html>
<html lang="en">

<head>
  <title>PPS Assessment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <header>
    <br>
    <div class="container">
      <h4>PPS Registration</h4>
    </div>
  </header>


  <!-- Main Content -->
  <div class="container">


    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form name="ppsForm" id="ppsForm" method="POST" action="/bookingdate">
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="book_date">Empty Slots</label>
              <input type="date" class="form-control" id="book_date" name="book_date">
            </div>
          </div>
          <br>
          <div class="control-group">
            <div class="form-group">
              <button type="submit" class="btn btn-secondary" id="submit" onclick="loading();">Submit <span
                  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                  id="loading"></span></button>
            </div>
          </div>
          <br>
          <div class="form-group">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      $("#loading").hide();
    });
  </script>
  <script type="text/javascript">// <![CDATA[
    function loading() {
      $("#loading").show();
    }
// ]]></script>

</body>

</html>